html {
	margin: -10px;
	padding: 0;
}
/*CSS Grid*/
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	"header header header"
	"navigation navigation navigation"
	"banner banner banner "
	"content content content"
	"footer footer footer";
}
.header {
	grid-area: header;
	display: grid;
}
.navigation {
	grid-area: navigation;
	background-color: #6D00F5;
}
.banner {
	grid-area: banner;
}
.content {
	grid-area: content;
	padding: 50px;
	font-size: 20px;
	line-height: 30px;
	margin-top: 50px;
}
.footer {
	grid-area: footer;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	"location contact contact";
	color: #aec6cf;
	background-color: #6D00F5;
	padding-left: 10px;
	font-size: 18px;
}
.location {
	grid-area: location;
}
.contact {
	grid-area: contact;
}
.main-nav, .fixed-nav li{
	display: inline;
	font-size: 25px;
	list-style: none;
	padding: 10px 15px;
}
nav a, .open-day a {
	color: #000000;
	text-decoration: none;
}
nav a:hover, .open-day a:hover {
	color: #aec6cf;
}
.banner-pic {
	width: 100%;
	max-height: 400px;
	margin: -2px;
}
.pic-nav figure img {
	width: 250px;
	height: 250px;
}
.video {
	width: 100%;
	height: 500px;
}
.nik-bessis-pic {
	width: 350px;
	height: 250px;
	background-image: url(images/nik-bessis.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
	margin: 30px;
	border-radius: 5px;
}
.nik-bessis {
	color: #6D00F5;
}
.content-item {
	padding-top: 30px;
	line-height: 30px;
}
h2 {
	padding-top: 30px;
}
h2, summary {
	color: #6D00F5;
	font-size: 35px;
	font-weight: bold;
}
h3 {
	color: #6D00F5;
	font-size: 30px;
	padding-top: 60px;
}
.pic-nav figure figcaption, .undergraduate figure figcaption, .postgraduate figure figcaption {
	text-align: center;
	background-color: #6D00F5; 
	padding: 5px;
	margin-top: -10px;
}
.pic-nav figure, .undergraduate figure, .postgraduate figure {
	display: inline-block;
	margin-left: 2px;
}
.pic-nav figure a, .undergraduate figure a, .postgraduate figure a {
	text-decoration: none;
	color: #000000
}
.pic-nav figure a:hover, .undergraduate figure a:hover, .postgraduate figure a:hover{
	color: #aec6cf;
}
.undergraduate figure img, .postgraduate figure img {
	border-radius: 5px 5px 0px 0px
	max-width: 150px;
	height: 150px;
}
.image-right {
	float: right;
	margin: 5px;
	max-height: 300px;
	width: 300px;
	border-radius: 5px;
}
.fixed-nav {
	width: 100%;
	position: absolute;
	margin-left: -60px;
	margin-top: -50px;
}
.fixed-nav li{
	font-size: 20px;
	list-style-type: none;
	background-color: #6D00F5;
	margin: -2.5px;
	display: inline-block;
	padding: 20px 30px;
}
.table-list {
	width: 100%;
}
#userInput {
	width: 100%;
	margin-bottom: 15px;
	padding: 20px 10px 20px 10px;
	font-size: 19px;
}
.table-list th {
	padding: 15px 130px 2px 10px;
	text-align: left;
	background-color: #6D00F5;
	color: #FFFFFF;
}
.list-item td:first-child, .course-table td:first-child{
	border-bottom: solid;
	border-right: solid;
}
details {
	margin-top: 30px;
	cursor: pointer;
	border: solid;
	padding: 10px 20px;
	border-radius: 4px;
	color: #6D00F5;
}
.open-day {
	width: 100%;
	text-align: center;
	padding-top: 50px;
}
.open-day p {
	display: inline-block;
	margin-right: 100px;
	border: solid;
	background-color: #6D00F5;
	border-radius: 5px;
	padding: 50px;
}
.course-table {
	font-size: 18px;

}
.course-table td {
	padding: 14px;
}
.course-table td:nth-child(2) {
	background-color: #6D00F5;
}

.footer-content {
	list-style: none;
}
.footer-header {
	font-size: 19px;
}
.map {
	width: 400px;
	height: 300px;
	padding: 20px;
}
@media screen and (min-width: 736px) {
	.grid {
	display: grid;
	grid-template-columns: 250px 1fr 1fr 1fr 250px;
	grid-template-areas: 
	"header header header header header"
	"navigation navigation navigation navigation navigation"
	"banner banner banner banner banner"
	" . content content content . "
	"footer footer footer footer footer";

}	
}